<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <style>
        .center_column {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        h1 {
            margin: 5vh;
        }
    </style>
    <title>Training page</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 center_column">
            <h1>Training page</h1>
            <div class="offset-lg-10">
              <button type="button" class="btn btn-primary" onclick="location.replace('/');">Camera page</button>
            </div>
            <br />
          <form method="post" action='{{url_for('train')}}' enctype="multipart/form-data">
            <div class='image_label'>
                <input placeholder='학습 대상 Label (이름) 입력'type='text' class='form-control' required  name='label'/>
            </div>

            <label for="imageUpload">학습할 JPG 파일 업로드:</label>
            <input type="file" id="imageUpload" name="image" accept='.jpg' required name='image'/>
            <input type="submit" value="제출" />
          </form>
          <br>
          <table class='table'>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">사진 라벨</th>
                <th scope="col">사진 경로</th>
              </tr>
            </thead>
            <tbody>
              {{trs| safe}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
